#!/bin/bash
set -ex

###################################################################
# run this after system startup to mount data on external storage #
###################################################################

sudo cryptsetup luksOpen /dev/sda1 RaidMaschine
mkdir -p {{ external_drive_path }}
sudo mount /dev/mapper/RaidMaschine {{ external_drive_path }}
sudo chmod 755 {{ external_drive_path }}
