#!/bin/bash
# {{ ansible_managed }}
set -e

###################################################################
# run this after system startup to mount data on external storage #
###################################################################

read -s -p "Enter LUKS password: " lukspassword

printf "\nMount and decrypt external drives..\n"
{% for name, path in external_drive_paths.items() %}
echo $lukspassword | sudo cryptsetup luksOpen {{ path.external }} {{ name }} -
mkdir -p {{ path.internal }}
sudo mount /dev/mapper/{{ name }} {{ path.internal }}
sudo chmod 755 {{ path.internal }}
printf "Mounted {{ name }}!\n"
{% endfor %}

printf "Restart relevant docker containers..\n"
# restart jellyfin
sudo docker restart jellyfin
